{% extends "base.html" %}

{% block content %}
  <h1>Your Nutrition Entries</h1>
  <a href="{% url 'nutrition:nutrition_create' %}">Add New Entry</a>
  <ul>
    {% for entry in nutrition_entries %}
      <li>
        <a href="{% url 'nutrition:nutrition_detail' entry.pk %}">
          {{ entry.meal_type.capitalize }} on {{ entry.date }}
        </a>
      </li>
    {% empty %}
      <li>No nutrition entries available.</li>
    {% endfor %}
  </ul>
  <p><a href="{% url 'home' %}">Back</a></p>
{% endblock %}