{% extends "base.html" %}

{% block content %}
  <h1>Your Notifications</h1>
  <a href="{% url 'notifications:notification_create' %}">Add New Notification</a>
  <ul>
    {% for notification in notifications %}
      <li>
        <a href="{% url 'notifications:notification_detail' notification.pk %}">{{ notification.title }}</a> 
        {% if notification.read %}
          <span style="color: green;">(Read)</span>
        {% else %}
          <span style="color: red;">(Unread)</span>
        {% endif %}
      </li>
    {% empty %}
      <li>No notifications available.</li>
    {% endfor %}
  </ul>
{% endblock %}